<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?v=1.1">
    <link rel="icon" href="/img/forex.webp">
    <title>Blog -Winforexsignal</title>
</head>
<body>
    {{>header}}
        <section class="blog">
            <div class="container">
                <div class="blog-wraper">
                    <div class="blog-card">
                        <img src="/img/blog-1.webp" alt="">
                        <div class="top">
                            <h2>Basic Ideas About Forex Trading</h2>
                            <p>
                                Basic Ideas About Forex Trading: 1.
                                What is traded in the this Forex market? 
                                The easy answer is Foreign Currency. 
                                But for basic knowledge, you have…
                            </p>

                            <div class="bottom">
                                <span>16/06/2020</span>
                                <a href="/blog/blogview">Read More</a>
                            </div>
                        </div>
                        
                    </div>

                    
                    
                </div>
            </div>
        </section>
     {{>footer}}
</body>
</html>