<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Forex broker site. 100% trusted site around the globe. winforexsignal famous for their coustomer services">
    <meta name="keywords" content="forex, winforexsignal, forexsignal, earn, money, forex broker, forex trade, trader, doller, forex signal free">
    <meta name="author" content="Tapu Chandra Bormon">
    <link rel="icon" href="/img/forex.webp">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home - WinForexSignal</title>
</head>
<body>
    <div class="site-main-wraper">
        <div class="mobile-nav">
            <button class="times">
                <span>&times;</span>
            </button>

            <ul>
                <li><a href="/#d24575e9-0266-42b0-8740-bca715dd5cdb">Pricing</a></li>
                <li><a href="/reviews/view">Testimonials & Reviews</a></li>
                <li><a href="/#d24575e9-0266-42b0-8740-bca715dd5cdb-0266-42b0-8740">Features</a></li>
                <li><a href="https://t.me/winforexgoldsignal9" target="_blank">Join US</a></li>
            </ul>
        </div>

        <main>
            {{>header}}

            <section class="hero">
                <video src="/video/stock-bg-3.mp4" autoplay muted loop></video>
                <div class="overlay"></div>
                <div class="container">
                    <div class="hero-slide">
                        <h3>WORLD BEST FOREX SIGNAL RESEARCH TEAM HERE</h3>
                        <a href="https://t.me/winforexgoldsignal9" target="_blank">Join Us</a>
                    </div>
                </div>
            </section>

            <section class="forex-info">
                <div class="container">
                    <div class="wraper">
                        <!--1st block-->
                        <div class="info-block-wraper">
                            <div class="stat-img"><img src="/img/stat.webp" alt="forex-stat"></div>
                            <div class="info-block">
                                <h2>Free Forex Signals</h2>
                                <p>
                                    WinforexSignals Pips is a powerful Forex trading analysis tool that provides 
                                    subscribers with Buy/Sell trading signals and tools, all in Real-Time, assisting 
                                    you in your trading plan to achieve great results in Forex trading.
                                </p>
                            </div>
                        </div>

                        <!--2nd block-->
                        <div class="info-block-wraper">
                            <div class="stat-img"><img src="/img/stat.webp" alt="forex-stat"></div>
                            <div class="info-block">
                                <h2>Premium Forex Services</h2>
                                <p>
                                    An expert team of market analysts generate our trading forex signals and unlike 
                                    the automated trading bots used everywhere, they bring in the human touch to the 
                                    process and provide you with the most best effective trading signals you can find 
                                    on the web.
                                </p>
                            </div>
                        </div>

                        <!--3rd block-->
                        <div class="info-block-wraper">
                            <div class="stat-img"><img src="/img/stat.webp" alt="forex-stat"></div>
                            <div class="info-block">
                                <h2>Our Signals give information about</h2>
                                <p>
                                    When is the best time for you to trade? What is the best way for you to trade?<br>
                                    Which one of the currency pairs is good to choose? After we identify the best 
                                    trading opportunity, you will immediately receive a trading signal with an entry 
                                    point, stop loss, and possible targets.
                                </p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </section>

            <section class="counter">
                <div class="container">
                    <div class="counter-wraper">
                        <div class="counter-info">
                            <h1>8500+</h1>
                            <h3>People In Free Channel</h3>
                        </div>

                        <div class="counter-info">
                            <h1>600+</h1>
                            <h3>People In VIP Channel 4+</h3>
                        </div>

                        <div class="counter-info">
                            <h1>4</h1>
                            <h3>Years of History</h3>
                        </div>
                        
                    </div>
                </div>
            </section>

            <section class="features">
                <div class="container">
                    <div id="d24575e9-0266-42b0-8740-bca715dd5cdb-0266-42b0-8740" class="features-wraper">
                        <div class="left-side">
                            <h2>Key Features</h2>
                            <div class="bar"></div>
                            <img src="/img/phone.webp" alt="phone-screenshot">
                        </div>

                        <div class="right-side">
                            <div class="features-info-wraper">
                                <div><img src="/img/candlestick-chart.webp" alt=""></div>
                                <div>
                                    <h3>Daily Forex Signals</h3>
                                    <p>
                                        Once you start using our forex signals and analysis your ability to track your deals 
                                        will be improved and you will be sure that you will not miss buying or selling opportunities, 
                                        because you just have not had the necessary time to analyze the market. You can check our 
                                        Results HERE.
                                    </p>
                                </div>
                            </div>

                            <div class="features-info-wraper">
                                <div><img src="/img/candlestick-chart.webp" alt=""></div>
                                <div>
                                    <h3>Professional Forex Traders</h3>
                                    <p>
                                        When it comes to trading it’s important to catch the right moment. Highly experienced team of 
                                        forex traders are taking care that every trade sent to clients is a profitable one. We achieve 
                                        an average of 79% accuracy of our signals due to our team’s detailed analyses.
                                    </p>
                                </div>
                            </div>

                            <div class="features-info-wraper">
                                <div><img src="/img/candlestick-chart.webp" alt=""></div>
                                <div>
                                    <h3>Professional Forex Traders</h3>
                                    <p class="last">
                                        When it comes to trading it’s important to catch the right moment. Highly experienced team of 
                                        forex traders are taking care that every trade sent to clients is a profitable one. We achieve 
                                        an average of 79% accuracy of our signals due to our team’s detailed analyses.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="membership">
                <div class="container">
                    <div class="plan-info">
                        <h1>Choose a Plan that<br>Works for You</h1>
                    </div>

                    <div id="d24575e9-0266-42b0-8740-bca715dd5cdb" class="monthly-plan-wraper">
                        <div class="monthly-plan">
                            <h2>2 Months Membership</h2>
                            <h3 class="bending-color-1"><span>$</span>40<span class="sub-track">/month</span></h3>
                            <p>
                                Short term signals<br>
                                5 to 8 Signals per day<br>
                                Accuracy: almost 95%<br>
                                1000 to 2500 Pips per Week<br>
                                Signals time: GMT<br>
                                2 London Session 9 am – 14pm<br>
                                Signals for GOLD, BTC & CURRENCY.<br>
                            </p>
                            <a class="bending-bg-color-1" href="https://web.telegram.org/z/#824366229" target="_blank">Choose Plan</a>
                        </div>

                        <div class="monthly-plan">
                            <h2>6 Months Membership</h2>
                            <h3 class="bending-color-2"><span>$</span>70<span class="sub-track">/year</span></h3>
                            <p>
                                Short term signals<br>
                                5 to 8 Signals per day<br>
                                Accuracy: almost 95%<br>
                                1000 to 2500 Pips per Week<br>
                                Signals time: GMT<br>
                                2 London Session 9 am – 14pm<br>
                                Signals for GOLD, BTC & CURRENCY.<br>
                            </p>
                            <a class="bending-bg-color-2" href="https://web.telegram.org/z/#824366229" target="_blank">Choose Plan</a>
                        </div>

                        <div class="monthly-plan">
                            <h2>Lifetime Membership</h2>
                            <h3 class="bending-color-3"><span>$</span>100<span class="sub-track">/lifetime</span></h3>
                            <p>
                                Short term signals<br>
                                5 to 8 Signals per day<br>
                                Accuracy: almost 95%<br>
                                1000 to 2500 Pips per Week<br>
                                Signals time: GMT<br>
                                2 London Session 9 am – 14pm<br>
                                Signals for GOLD, BTC & CURRENCY.<br>
                            </p>
                            <a class="bending-bg-color-3" href="https://web.telegram.org/z/#824366229" target="_blank">Choose Plan</a>
                        </div>
                    </div>


                </div>
            </section>

            {{>footer}}
        </main>
    </div>
    
    <script src="/js/index.js"></script>
</body>
</html>