<footer>
    <div class="container">
        <div class="footer-wraper">
            <div class="footer-card">
                <h1>Join Our 343k+ happy Members</h1>
                
                <div class="broker-logo">
                    <a href="https://www.exness.com/?utm_source=partners&ex_ol=1" target="_blank">
                    <img src="/img/Exness-Logo.png" alt="Exness">
                    </a>
                    <a href="https://my.octafx.com/open-account/?refid=ib24137595" target="_blank">
                        <img src="/img/octa-logo.png" alt="Exness">
                    </a>
                </div>
            </div>

            <div class="footer-menu">
                <div class="footer-menu-iteam-1">
                    <h1>Win Forex signal</h1>
                    <h4>CEO Massage</h4>
                    <h4>Hello, Traders.</h4>
                    <p>
                        I’m glad you’re part of the journey called FOREX. 
                        Know that the Day Finance Ltd. team is here and 
                        will always be here to help you on the way to success.
                    </p>
                </div>

                <div class="footer-menu-iteam-2">
                    <h2>USEFUL LINKS</h2>
                    <ul>
                        <li><a href="https://T.ME/XTREAMFX" target="_blank">My Account</a></li>
                        <li><a href="https://T.ME/XTREAMFX" target="_blank">About Us</a></li>
                        <li><a href="https://T.ME/XTREAMFX" target="_blank">Privacy Policy</a></li>
                        <li><a href="https://T.ME/XTREAMFX" target="_blank">Terms and Conditions</a></li>
                        <li><a href="https://T.ME/XTREAMFX" target="_blank">Contact US</a></li>
                    </ul>
                </div>

                <div class="footer-menu-iteam-3">
                    <h2>Follow</h2>
                    <div class="social-icon">
                        <a href="https://twitter.com/CreativeFx4" target="_blank"><img src="/img/twitter.svg" alt="facebook"></a>
                        <a href="https://www.instagram.com/creativeforex570/?hl=en" target="_blank"><img src="/img/instagram.svg" alt="instagram"></a>
                        <a href="https://T.ME/XTREAMFX" target="_blank"><img src="/img/telegram.svg" alt="telegram"></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <h3>COPYRIGHT © 2022 WinForexSignal </h3>
        </div>   
    </div>
</footer>