<header>
    <div class="container">
        <span class="hamburger">&equiv;</span>

        <div class="logo">
            <a href="/"><span>WIN</span>Forex Signal</a>
        </div>
        <div class="menu-bar">
            <ul>
                <li><a href="/#d24575e9-0266-42b0-8740-bca715dd5cdb">Pricing</a></li>
                <li><a href="/reviews/view">Testimonials & Reviews</a></li>
                <li><a href="/#d24575e9-0266-42b0-8740-bca715dd5cdb-0266-42b0-8740">Features</a></li>
                <li><a href="https://t.me/winforexgoldsignall" target="_blank">Join US</a></li>
            </ul>
        </div>
    </div>
</header>